body{
    text-align: center;
}

div{
    display: inline-block;
}

.container {
    background-color: lightseagreen;
    height: 500px;
    width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/
     /*justify-content: space-around;*/
     /*flex-wrap: wrap;*/
     align-items:flex-start;
     /*align-content: center;*/
}

.item{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#item1 {
    background-color: lightcoral;
    
}
#item2 {
    background-color: lightblue;
    /*align-self: flex-start;
   
}
#item3 {
    background-color: lightgreen;
    /*align-self: flex-end;*/
   
}
#item4 {
    background-color: lightyellow;
    /*align-self: flex-end;*/
    flex-shrink: 2;
   
}
#item5 {
    background-color: lightpink;
    flex-grow: 3;
}