#b1{
    margin-left: 50px;
    height: 100px;
    width: 150px;
    background-color: rgb(100, 2, 2);
    color:whitesmoke;
    font-size: 20px;
}

#b2{
    margin-left: 100px;
    height: 100px;
    width: 150px;
    background-color: rgb(6, 14, 119);
    color:whitesmoke;
    font-size: 20px;
}

.div1{
    margin-top: 30px;
    height: 150px;
    width: 500px;
    background-color: rgb(23, 83, 2);
    color:whitesmoke;
    font-size: 20px;
}