h1{
    color: red;
    
}

p{
    color: blue;
    
}

button{
    color: rgb(52, 6, 238);
    background-color: rgb(240, 148, 10);
   
}

body{
    background-color: #f0f014;
}

div{
    background-color: rgb(255, 17, 17); /* red color with full opacity */
    margin: 30px;
}