h1{
    font-size: 50px;
}

p{
    line-height: 50px;
}


#div1{
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 10px;
    color: white;
}
#div2{
    width: 50%;
    height: 50%;
    background-color: blue;
    font-size: 10px;
    color: white;
    margin: 20%;
    font-size: 2em;
    /*width: 5em;*/
    width: 5rem;

}