#d{
    background-color: lightgreen;
    border: 2px solid black;
    display: inline;
}
#s{
    background-color: lightblue;
    border: 2px solid black;
    display: block;
}

#div1{
    background-color: rgb(247, 8, 251);
    border: 2px solid black;
}
#div2{
    background-color: rgb(12, 236, 120);
    border: 2px solid black;
    /* display: none; */
    visibility: hidden;
    
}
#div3{
    background-color: rgb(236, 225, 13);
    border: 2px solid black;
}

.div{
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
}